.App {
  text-align: center;
  
}
header {
  height: 25px;
  background-color: #333;
}
.products-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product {
  flex: 1 0 21%; /* explanation below */
  margin: 15px;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 25px;
}

img {
  width: 155px;
  height: 130px;
}

.size {
  display: flex;
}

.sizeItem {
  flex: 50%;
}

form div {
  padding: 10px;
}
form label {
  max-width: 100px;
}